@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Signature&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme{
    --font-signature: 'Momo Signature', cursive;
}

body {
    font-family: 'Inter', sans-serif;
    /* letter-spacing: -1px; */
}

*{
    corner-shape: superellipse(1.2);
}