@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme{
    --font-signature: 'Crimson Pro', cursive;
    --color-accent: #FB0C3F;
}

body {
    font-family: 'Inter', sans-serif;
    /* letter-spacing: -1px; */
     -webkit-font-smoothing: antialiased;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
     background-color: white;
}

*{
    user-select: none;
    corner-shape: superellipse(1.333);
}

*:focus-visible{
    outline: none;
}